<section class="container">
    <h4>Signal Inputs</h4>

    <p>
      Angular's
      <a href="https://angular.io/guide/signal-inputs" target="_blank"
        >Signal Inputs</a
      >
      allow values to be bound from parent components. Those values are exposed
      using a Signal and can change during the lifecycle of your component.
    </p>

    <p>
      In this example, the child component gets a User array and transforms it
      by adding a new 'fullname' field.
    </p>

    <form [formGroup]="userForm" (ngSubmit)="addUser()">
      <div class="input-group mb-3">
        <input
          formControlName="firstName"
          type="text"
          placeholder="First name"
          class="form-control"
        />
        <input
          formControlName="lastName"
          type="text"
          placeholder="Last name"
          class="form-control"
        />
        <button class="btn btn-primary">Add user</button>
      </div>
    </form>

    <div class="form-group mb-3">
      <input
        type="text"
        class="form-control"
        (input)="updateUserQuery($event)"
        placeholder="Search users"
      />
    </div>

    <lib-signal-inputs
      [users]="users()"
      [query]="userQueryDebounced"
    ></lib-signal-inputs>

    @for (user of users(); track $index) {
        {{user.firstName}} {{user.lastName}}
    }
  </section>