<div class="container">
  <h4 class="p-3">Home</h4>

  <div class="list-group">
    <a routerLink="/contentProjection" routerLinkActive="active" class="list-group-item list-group-item-action">Content
      projection example</a>
    <a routerLink="/signalInputs" routerLinkActive="active" class="list-group-item list-group-item-action">Signal
      inputs example</a>
    <a routerLink="/modelSignals" routerLinkActive="active" class="list-group-item list-group-item-action">Model signals
      example</a>
    <a routerLink="/kendoGrid" routerLinkActive="active" class="list-group-item list-group-item-action">Kendo grid
      example</a>
  </div>
</div>